<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/myapp/success">
        {% csrf_token %}
        <label>ID : </label><br>
        <input type="text" name="eid" id="eid"><br>
        <label>Name : </label><br>
        <input type="text" name="ename" id="ename"><br>
        <label>Email : </label><br>
        <input type="email" name="eemail" id='eemail'><br>
        <label>Contact : </label><br>
        <input type="text" name="econtact" id='econtact'><br>
        <h3><button type="submit"> ADD </button></h3>
    </form>
</body>

</html>